/* variables  */

/* 
#6650F5 -> lila
#807F7F -> grey - principal - 464545
*/
.App {
  /* text-align: center; */
  color: #464545;
}
.color-lila {
  color: #6650f5;
}
.movil-size-img img {
  width: 200px;
}
.small {
  font-size: 12px !important;
}
.line-height {
  margin-top: -16px;
}
.letter-spacing {
  letter-spacing: 3px;
}
.section-skills {
  margin-top: 10rem;
}
.skills-shape {
  background: #282c34;
  width: 55%;
  padding: 8px 0;
  color: rgb(255, 255, 255);
}
.skills-text {
  padding-left: 50%;
}
.container-skills {
  position: relative;
  display: inline-block;
  text-align: center;
}
.movil-size-img-2 {
  width: 370px;
  margin-top: -2rem;
}
.skills-content {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.margin-left {
  float: right;
}
.skills-javascript {
  margin-top: -5px;
  margin-left: 3px;
}
.skills-content-text {
  margin-top: -4px;
  margin-left: 10px;
}

.section-experience {
  height: 25rem;
}
.container-experience {
  background-color: #6650f5;
  color: white;
  height: 11rem;
  border-radius: 4px;
}
.experience-img {
  background-color: white;
  border-radius: 15px;
  height: 13rem;
  -webkit-box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.08);
  color: #000;
}

/* dsdsdsd */

.section-contact {
  margin: 15rem 0 3rem 0;
}
.contact-shape {
  background: #282c34;
  width: 55%;
  padding: 8px 0;
  color: rgb(255, 255, 255);
  float: right;
  margin: 3rem 0;
}
.contact-text {
  padding-left: 15%;
}
.container-contact {
  /* background: #333; */
  margin-top: 5rem;
}
.movil-size-img-2 {
  width: 370px;
  margin-top: -2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/* form  */
form {
  display: inline-grid;
}
input[type="text"],
input[type="number"],
input[type="checkbox"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 255, 187);
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #4caf95;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
